// @Imports
@import 'variables.scss';

.container--row {
    display: grid;
    justify-content: center;
    @media (min-width: $mobile) {
        grid-template-columns: $mobile;
    }
    @media (min-width: $tabletport) {
        grid-template-columns: $tabletport;
    }
    @media (min-width: $desktop) {
        grid-template-columns: $desktop;
    }
    
    .row {
        display: grid;
        grid-template-columns:repeat(12, 1fr);
        
        @media (min-width: $desktop) {
            grid-column-gap: 30px;
        }
        @media (min-width: $tabletport) {
            grid-column-gap: 20px;
        }
        @media (min-width: $mobile) {
            grid-column-gap: 10px;
        }
    }
}
