.menu {
    grid-column: 8 / 13;
    grid-row: 1;
    align-self: flex-start;
    margin:90px 0 0 0;
    z-index: 5;
}

.menu__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    list-style: none;

    .item--menu {
        margin: 0 15px 0 0;
        border:solid 2px #fff;
        padding: 7px 18px;
        border-radius: 5px;
        
        a {
            color:#fff;
            text-decoration: none;
            font-size: 15px;
        }

        &:last-of-type {
            margin:0;
        }
    }
}