.menu {
    grid-column: 8 / 13;
    grid-row: 1;
    align-self: flex-start;
    margin:60px 0 0 0;
}

.menu__list {
    display: flex;
    justify-content: center;

    .item--menu {
        margin: 0 20px 0 0;
        border:solid 2px #fff;
        padding: 10px 20px;
        border-radius: 5px;
        a {
            color:#fff;
        }
        &:first-of-type {
            margin:0;
        }
    }
}