.menu {
    grid-column: 8 / 13;
    grid-row: 1;
    align-self: flex-start;
    margin:90px 0 0 0;
    z-index: 5;
}

.menu__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding:0;
    list-style: none;

    .item--menu {
        margin: 0 15px 0 0;
        border:solid 2px #fff;
        padding: 7px 18px;
        border-radius: 5px;
        
        a {
            color:#fff;
            text-decoration: none;
            font-size: 15px;
        }

        &:last-of-type {
            margin:0;
        }
    }
}

.user--profiles {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
}

.btnClose--session {
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    letter-spacing: -1px;
    transition: all .3s ease;
    background:transparent;
    color: #fff;
    &:hover {
        color: #86a513;
        background: #fff;
    }
}

.btn--perfil {
    display: grid;
    grid-template-columns: 30px auto;
    gap: 10px;
    align-items:center;
}

#app--avatar {
    overflow: hidden;
    border-radius:50%;
    img {
        float: left;
        width: 100%;
    }
}