.box--login {
	grid-column: 5 / 9;
    align-self: flex-start;
    margin: 30px 0;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    img {
    	float: left;
    	width: 100%;
    }
}