.header__primary {
    width: 100%;
    overflow: hidden;

    @media (min-width: 1024px) {
        background: transparent;
    }

    .header__primary-logo {
        z-index: 2;
        margin: 80px 0px 0px;
        grid-column: 3 / 11;
        img {
            max-width: 280px;
        }

        @media (min-width: 1024px) {
            margin: 0;
            grid-column: 1/ 5;
        }
    }
    
    .top--wave, .wave--cirlces {
        position: absolute;
        right: 0;
    }

    .top--wave svg {
        height: 100%;
    }
    
    .wave--cirlces {
        top: 330px;
        opacity: .9;
        z-index: -1;
        display: none;
        @media (min-width: 720px) {
            display: block;
        }
    }

    img, svg {
        float: left;
        width: 100%;
    }
}

#path277 {
    animation: anim_bubble_blue .6s cubic-bezier(0.83, 0.22, 0.35, 1.04);
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(10px);
}

#path117 {
    animation: anim_bubble_orange .6s cubic-bezier(0.83, 0.22, 0.35, 1.04);
    opacity: 0;
    animation-fill-mode: forwards;
    transform: translateX(30px);
}

@keyframes anim_bubble_orange {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes anim_bubble_blue {
    from {
        transform: translateX(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}