.container {
    grid-column: 2 / 12;
    display: grid;
    grid-gap: 20px;
    margin: 30px 0 0 0;

	.app--title {
		margin:0;
	}	
}

.formStep--actions {
    grid-column: 1 / -1;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: auto auto;
}

.btn--prev {
	opacity: 0;
	border-color: #999 !important;
	color: #999 !important;
	margin: 0 15px 0 0;
	animation:btn--prev .5s cubic-bezier(0.83, 0.22, 0.35, 1.04);
	animation-fill-mode: forwards; 
}
@keyframes btn--prev {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.btn--next {
	border-color: #8aab10;
	color: #8aab10;
}

.preViews {
	    display: grid;
    grid-gap: 10px;

    .formStep--actions {
    	justify-self: flex-end;
    }
}

.target {
	min-height: 180px;
	position: relative;

	.loader_form-data {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: .7;
		color:#444;
	}

	.anim_form-data {
		animation: anim_form-data .7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
		animation-fill-mode:forwards;
		transform: translateX(10%);
		opacity: 0;
	}
	@keyframes anim_form-data {
		from {
			opacity: 0;
			transform: translateX(10%);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.MuiCircularProgress-colorPrimary {
	color: #B2CB08;
}