.container {
    grid-column: 2 / 12;
    display: grid;
    grid-gap: 20px;
    margin: 60px 0 0 0;
    background: #fff;

	.app--title {
		margin:0;
	}	
}

.formStep--actions {
    grid-column: 1 / -1;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.btn--prev {
	opacity: 0;
	border-color: #999 !important;
	color: #999 !important;
	margin: 0 15px 0 0;
	animation:btn--prev .5s cubic-bezier(0.83, 0.22, 0.35, 1.04);
	animation-fill-mode: forwards; 
}
@keyframes btn--prev {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.btn--next {
	border-color: #8aab10;
	color: #8aab10;
}

.preViews {
	    display: grid;
    grid-gap: 10px;

    .formStep--actions {
    	justify-self: flex-end;
    }
}

.target {
	min-height: 180px;
	display:grid;
	gap:30px;

	.loader_form-data {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		opacity: .7;
		color:#444;
	}
}